.container-page
{
  display: flex;
  height: 100%;
  width: 100%;
}

.menu-panel
{
    padding-top: 30px;
    width: 15rem;
    background-color: #f7f7f7;
    border-right: solid 1px #e3e3e3;
    display: flex;
    flex-direction: column;
}

.RightPanel
{

    justify-content: center;
}

.container
{
    margin-top: 50px;
}
